@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <!-- Include CSS and JavaScript links -->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>About KhumaloCraft Emporium</h1>
    <!-- About Us page content -->
    <p>
        Our mission at KhumaloCraft Emporium is to bring together  customers who value the beauty and artistry of handmade goods with craftsmen from all around the world.


        Our journey started with the idea to develop a platform that honors the craftsmanship and cultural legacy that are ingrained in every piece of handcrafted art. We think that every well made object has a narrative waiting to be told, and it is our goal to close the gap between creators and fans everywhere.

        Motivated by a dedication to genuineness and excellence, we amass an eclectic assortment of handcrafted items, all of which showcase the distinct abilities and customs of the craftspeople behind them.
    </p>

    <div class="craft-item">
        <img src="~/images/AboutUs.jpg" width=" 800px"/>
    </div>
    <!--https://space2b.com.au/african-beading/-->

</body>
</html>
