@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <!-- Include CSS and JavaScript links -->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Contact KhumaloCraft Emporium</h1>
    <!-- Contact Us page content -->
    <p>If you have any questions or inquiries
        regarding our products, please feel free to contact us.</p>
    <p>Email: info@khumalocraft.com</p>
    <p>
        Phone: 0117898235
    </p>

    <div class="craft-item">
        <img src="~/images/contactUs.jpg" width=" 400px"/>
    </div>
    
    <p> Mr. James Khumalo (Founder of KhumaloCraft Emporium )

    </p>
    <!--https://www.123rf.com/stock-photo/black_happy_businessman.html?itemsperpage=100&orderby=&searchopts=&sti=&t_lang=en&t_word=-->
</body>
</html>
