@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <!DOCTYPE html>
    <html>
    <head>
        <title>KhumaloCraft Emporium - Home</title>
        <!-- Include CSS and JavaScript links -->
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <h1>Welcome to KhumaloCraft Emporium</h1>
        <!-- Home page content -->
        <p>Discover unique handcrafted products from artisans around the world.

            <div class="craft-item">
                <img src="~/images/CoverPage.jpg"/>
                </div>
        </p>
        <!--https://yehaindia.com/indian-traditional-jewellery-from-head-to-toe/-->
    </body>
</html>















</div>
