@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>My Work</title>
    <!-- Include CSS and JavaScript links -->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Explore KhumaloCraft's Work:</h1>
    <!-- Static information about KhumaloCraft's work with images, descriptions, and prices -->
    <div class="craft-item">
        <img src="~/images/Ring.png"/>
        <h2>Sakura-Ichirin Ring</h2>
        <p>Description: Sakura-Ichirin (The Single Sakura) is a unique design perfected by our craftsman invoking the beauty of the Japanese Cherry Tree with a single diamond.</p>
        <p>Price: $50</p>
        <!--https://www.mokumeganeya.com/e/engagementring/-->
    </div>
    <div class="craft-item">
        <img src="~/images/Necklace.jpg" width=" 300px"/>
        <h2>Traditional African Necklace</h2>
        <p>Description: Handmade jewelry made in Kenya. This is a Stunning Beaded set that can be worn for any Cultural or Traditional Occasion.</p>
        <p>Price: $60</p>

    </div>
    <!--https://marketplace.anka.africa/en/article/african-necklace-mid-long-necklaces-multicolour-for-her-beads-cotton/I65F4XH-->
    
        <div class="craft-item">
        <img src="~/images/IndianEarings.jpg" width=" 300px"/>
            <h3>Vintage Indian Earings</h3>
        <p>Description: The Earrings for women is made of high quality alloy, With vacuum plating on the surface, vintage finished Color can be kept for a long time.Each of them is light on your ears.</p>
            <p>Price: $30</p>
    </div>
    <!--https://www.fruugo.co.za/indian-jewelry-vintage-round-earrings-boho-antique-ethnic-gypsy-bells-pendant-earrings-womens-pendant/p-172153357-367971082-->
   
</body>
</html>
