@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Statement of Privacy

    Updated last on [March 31, 2024]



    This page provides you with information about our policies for the gathering, using, and disclosing personal data that we acquire from you when you use our service, as well as the options you have over such data.

    In order to deliver and enhance the Service, we use your data. You consent to the collection and use of information in line with this policy by using the Service.

    I

    We gather a variety of information for a range of uses in order to give you better service.

    We may request specific personally identifiable information from you while you use our services, information that would allow us to get in touch with or identify you. Thank you for your co-operation.
</p>
